# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [5]:
number_float = 2.3
number_float = 7.2
print(number_float)

7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num_1 = 2 
num_2 = 5.2
result = num_1 + num_2

result += 2
print(result)

9.2

##### Subtraction

In [9]:
result_diff = num_2 - num_1
print(result_diff)

result_diff -= 1
print(result_diff-1)

3.2
1.2000000000000002

##### Multiplication

In [10]:
result_mul = num_2 * num_1
result_mul *= 4
print(result_mul)

41.6

##### Division

In [12]:
result_div = num_2  / num_1
result_div /= 2
print(result_div)

1.3

##### Floor Division

result_floor = num_2 // num_1
print(result_floor)

##### Modulo

In [14]:
result_mod = num_2 % num_1
print(result_mod)

1.2000000000000002

##### Exponential

In [17]:
result = 3 **3
result  **= 4
print(result)

531441

### String Input-Output

##### String Assignment

In [18]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print ( "My first name is ",  name)
print("Full name: ", name , end=" Matip")

My first name is  Joel
Full name:  Joel Matip

##### String Concatenation

In [27]:
first_name = "Joel"
last_name = "Matip"
full_name = first_name + " " + last_name
print(full_name)

full_name += " , Jr"
print(full_name)

Joel Matip
Joel Matip , Jr

##### Type Conversion

In [28]:
number = "6"
print(int(number))

6

##### input()

In [31]:
age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your age? 45
50

##### format()

In [35]:
age = input("Please enter your age : ")
result_string = f"{age} is a great age!!!"
print(result_string)

Please enter your age : 44
44 is a great age!!!

##### Old Way (python 2)

In [36]:
result_string2 = "You are %s and you look great! "%age
print(result_string2)

You are 44 and you look great!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [38]:
name = input("What is your  name? ")
color = input("What color is your car? ")
year = input("What is the year of your car? ")
make = input ("Can you tell me the make of your car? ")
model = input("What model is your car? ")
car = f"{name}, your {color}  {make}  {model}  {year} is great!"
print(car)

What is your  name? Farrukh
What color is your car? white
What is the year of your car? 2016
Can you tell me the make of your car? Toyota
What model is your car? Camru\y
Farrukh, your white  Toyota  Camru\y  2016 is great!

### If Statements

In [43]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

number1 = 5 
number2 = 7
number3 = 0
if number1 == number2 or number3 > 4:
    print("Incorrect")
else:
    print("True")

True

##### 'is' keyword

In [44]:
number = 5
if number is 5 :
    print("True")

True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/m9/qv_p3n_n2sscdzq8kyrtqtf80000gn/T/ipykernel_30083/2001732531.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if number is 5 :

##### 'in' keyword

In [49]:
letter = "Aziza"
if "z" in letter:
    print("True")

True

##### 'not in' keyword'

In [51]:
 name = "Farrukh"
if "z" not in name:
        print("True")

True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [55]:
name = input("What is your name: ")
if "p" in name:
    print("The letter 'p' is here!")
else:
    print("The letter 'p' is not here!")

What is your name: Chaplin
The letter 'p' is here!

## Using 'and'/'or' with If Statements

In [56]:
num_1 = 20
num_2 = 4
num_3 = 10 
num_4 = 5

# and
if num_1 / 5 == num_2 and num_3 - 5 == num_4:
    print("True and True")
    
# or
if num_1 > num_3 or num_2 == num_4:
    print("True and False")

True and True
True and False

### Elif Statements

In [60]:
first_name = input("What is your name? ")

if first_name == "John":
    print("The name is John.")
if first_name == "Robert":
    print("The name is Robert.")
if first_name != "Bobby":
    "The name is  not Bobby."
else:
    print("The name is Bobby.")

What is your name? John
The name is John.

### Else Statements

In [ ]:
# see above

### For Loops

In [64]:
name = "Farrukh Rajabov"
for letter in name:
    print(letter)

F
a
r
r
u
k
h

R
a
j
a
b
o
v

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [67]:
for  i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [68]:
for i in range(20):
    if i ==10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in range(20):
    for i in range:
        pass

##### Double For Loops

In [70]:
for i in range (5):
    for j in range(5):
        print("i= ", i, "j= ", j)

i=  0 j=  0
i=  0 j=  1
i=  0 j=  2
i=  0 j=  3
i=  0 j=  4
i=  1 j=  0
i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  1 j=  4
i=  2 j=  0
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3
i=  2 j=  4
i=  3 j=  0
i=  3 j=  1
i=  3 j=  2
i=  3 j=  3
i=  3 j=  4
i=  4 j=  0
i=  4 j=  1
i=  4 j=  2
i=  4 j=  3
i=  4 j=  4

### While Loops

In [ ]:
num = 0

while num < 5:
    print(num)
    num += 1

##### Looping 'While True'

In [77]:
game_over= True
while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop? ")
    if user_input == "Yes":
        game_over= False

Infinite Loop
Would you like to stop? No
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [1]:
from IPython.display import clear_output

#num = 0

#while num < 5:
    #print("\nWhile loop iteration: " + str(num))
    
#for i in range(2):
    #print("\nFor loop iteration: " + str(i+1))
    
    #num += 1

### Built-In Functions

##### range()

In [4]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [5]:
name = input("What is your favorite book? ")
length = len(name)
print(length)

What is your favorite book? Harry Potter
12

##### help()

In [ ]:
help(length)

##### isinstance()

In [ ]:
# check variable family or data type
num = 4.5
if isinstance(num,int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

##### abs()

In [8]:
# |-5| = 5
print(abs(-5))

5

### Try and Except

In [11]:
# use to log out error messages
try:
    input_num = int(input("Pick a number: "))
    print("Your number is " + str(input_num))
except:
    print("That didn't work! Change your input into a number.")

Pick a number: 5
Your number is 5

### Lists

##### Declaring Lists

In [12]:
list_1 = []

names = ["John", "Robert", "Bob", "Bobby", "Robby"]
print(names)

['John', 'Robert', 'Bob', 'Bobby', 'Robby']

##### Indexing a List

In [18]:
# list_name (start: stop: step:)

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting from the beginning of a list until up a number
print(names[:2])

# Print starting at index 1 and going up by 2 each iteration
print(names[1::2])

# Print stating at the back and display in reverse order
print(names[::-1])

Robert
['Robert', 'Bob', 'Bobby', 'Robby']
['John', 'Robert']
['Robert', 'Bobby']
['Robby', 'Bobby', 'Bob', 'Robert', 'John']

##### .append()

In [19]:
names.append("Gerard")
print(names)

['John', 'Robert', 'Bob', 'Bobby', 'Robby', 'Gerard']

##### .insert()

In [20]:
names.insert(3,"Jamie")
print(names)

['John', 'Robert', 'Bob', 'Jamie', 'Bobby', 'Robby', 'Gerard']

##### .pop()

In [21]:
my_name = names.pop(3)
print(my_name)
print(names)

Jamie
['John', 'Robert', 'Bob', 'Bobby', 'Robby', 'Gerard']


##### .remove()

In [23]:
# Value to be removed rather than index
while "Gerard" in names:
    names.remove("Gerard")
print(names)

['John', 'Robert', 'Bob', 'Bobby', 'Robby']

##### del()

In [24]:
# Goes by index , rather than value
# Be careful with del , it can cause index errors if not used carefully
del(names[4])
print(names)

['John', 'Robert', 'Bob', 'Bobby']

##### Concatenating Two Lists

In [25]:
list_1 = [1,2,3]
list_2 = [4,5,6]
large_list = list_1 + list_2
print(large_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [41]:
names = ["Darwin", "Mo", "Virgil", ["Roberto",["Jordan","Andrew"], "Trent"]]
print(names)
print(names[3][1][1])

['Darwin', 'Mo', 'Virgil', ['Roberto', ['Jordan', 'Andrew'], 'Trent']]
Andrew

##### Looping Through Lists

In [45]:
# Two ways of looping one by index and by "in" keyword

# by index
for i in range(len(names)):
    print(names[i])

# loop with "in" 
for i in names:
    print(i)

Darwin
Mo
Virgil
['Roberto', ['Jordan', 'Andrew'], 'Trent']
Darwin
Mo
Virgil
['Roberto', ['Jordan', 'Andrew'], 'Trent']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
# cubes up to 1000, if over break the loop
cubes = []
for number in range(1, 15):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    if cube > 1000:
        break
    
    print(cube, end=",")

1,8,27,64,125,216,343,512,729,1000,

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [5]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,101):
    for n in range (2,101):
        if i%n == 0:
            break
    if i == n:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:
# age < 18 = kids; age <= 65 = adults; else = seniors;

age = int(input("How old are you? "))

# kids
if age < 18:
    print("You are still a kid!")
    
# adults
elif age <= 65:
    print("You are an adult!")
    
# senior
else:
    print("You are a senior!")

How old are you? 100
You are a senior!